<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>89696515191-rnos0e9gi2o1fbn18iinngpjdaqk1f4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89696515191-rnos0e9gi2o1fbn18iinngpjdaqk1f4r</string>
	<key>API_KEY</key>
	<string>AIzaSyDso5jjrXo7pzZTJyTUrSfiy8XRxJz-nMA</string>
	<key>GCM_SENDER_ID</key>
	<string>89696515191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.isignal.app</string>
	<key>PROJECT_ID</key>
	<string>isignal-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>isignal-tech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:89696515191:ios:896bd7a710ab8439</string>
	<key>DATABASE_URL</key>
	<string>https://isignal-tech.firebaseio.com</string>
</dict>
</plist>